
@{
    ViewData["Title"] = "Add Movie";
}

@model Movies

<style>
    #add-movie {
        text-align: center;
    }
</style>

<div id="add-movie">

    <form method="post">
        <label asp-for="title">Title: </label>
        <input type="text" asp-for="title" /><br />

        <label asp-for="category">Category: </label>
        <input type="text" asp-for="category" /><br />

        <label asp-for="year">Year: </label>
        <input type="number" asp-for="year" /><br />

        <label asp-for="rating">Rating: </label>
        <select asp-for="rating">
            @foreach (string rating in (string[])ViewData["Ratings"])
            {
                if (rating == "G")
                {
                    <option selected value="@rating">@rating</option>
                }
                else
                {
                    <option value="@rating">@rating</option>
                }

            }
        </select><br />

        <label asp-for="edited">Edited: </label>
        <input type="checkbox" asp-for="edited" /><br />

        <label asp-for="lentTo">Lent to: </label>
        <input type="text" asp-for="lentTo" /><br />

        <label asp-for="notes">Notes: </label>
        <textarea asp-for="notes"></textarea> <br />


        <button type="submit" class="btn btn-secondary">Add</button>
    </form>

</div>

