
@{
    ViewData["Title"] = "Add Movie";
}

@model Movies

<style>
    #add-movie {
        text-align: center;
    }
</style>

<div id="add-movie">

    <form method="post">
        <label asp-for="title">Title: </label>
        <input type="text" asp-for="title" /><br />

        <label asp-for="categoryId">Category: </label>
        <select asp-for="categoryId">
            <option selected>Choose a category</option>
            @foreach (Category cat in ViewBag.Categories)
            {
                <option value="@cat.categoryId">@cat.category</option>
            }
        </select><br />
        

        <label asp-for="year">Year: </label>
        <input type="number" asp-for="year" /><br />

        <label asp-for="ratingId">Rating: </label>
        <select asp-for="ratingId">
                <option selected>Choose a rating</option>
            @foreach (Ratings rating in ViewBag.Ratings)
            {
                
                <option value="@rating.ratingId">@rating.rating</option>
                

            }
        </select><br />

        <label asp-for="edited">Edited: </label>
        <input type="checkbox" asp-for="edited" /><br />

        <label asp-for="lentTo">Lent to: </label>
        <input type="text" asp-for="lentTo" /><br />

        <label asp-for="notes">Notes: </label>
        <textarea asp-for="notes"></textarea> <br />


        <button type="submit" class="btn btn-secondary">Add</button>
    </form>

</div>

